<configuration>
	<packageSources>
		<add key="github" value="https://nuget.pkg.github.com/Ilia-Kosenkov/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="Ilia-Kosenkov" />
			<add key="ClearTextPassword" value="%GITHUB_NUGET_RO%" />
		</github>
	</packageSourceCredentials>
</configuration>