# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: 
      - 'ci-tests'
 # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  test_resources:
    # The type of runner that the job will run on
    runs-on: windows-latest
    defaults:
      run:
        shell: pwsh
      
    
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout
        uses: actions/checkout@v2
      - name: Get deps
        run: |
          echo $env:DIPOL_PRIVATE_DEPS_PWSH
          iex $env:DIPOL_PRIVATE_DEPS_PWSH
          ls
        env:
          DIPOL_PRIVATE_DEPS_PWSH: ${{secrets.DIPOL_PRIVATE_DEPS_PWSH}}
      
      - name: Run cross-platform tests
        run: |
           dotnet test .\TestProjects\ImageTests\ImageTests.csproj 
          


